html {
    margin: 0 auto;
    text-align: center;
    background-image: url('../wallpaperbetter.com_1280x800.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    -webkit-height: 100%;
    background-color: black;
}


@font-face {
    font-family: 'Aladdin';
    src: url('../aladdin.ttf') format('truetype');
}

h1 {
    font-family: 'Aladdin';
    font-size: 70px;
    margin-bottom: -15px;
    margin-top: -10px;
}

.input {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#question {
    height: 30px;
    padding-right: 30px;
    width: 18%;
    font-size: 20px;
}

.input button {
    height: 36px;
    margin-left: -29px;
}

.ball {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px #000000;
}

.gloss {
    background-image: linear-gradient( /* chrome */
    hsla(0, 0%, 83%, 0.329), hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 72%, 0.089)
  );
  background-image: -webkit-linear-gradient(
  hsla(0, 0%, 83%, 0.329), hsla(0, 0%, 100%, 0) 50%,
  hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 72%, 0.089)
);
}

.inner {
    background-color: rgb(0, 1, 10);
    border-radius: 50%;
    border: 12px rgb(48, 48, 48) double;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 170px solid rgba(22, 9, 204, 0.897);
    margin: 50px auto 0;
    display: none;
    animation: fadeIn 3s;
    transition: opacity 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

#answer {
    display: none;
    animation: fadeIn 2s;
    transition: opacity 1s;
}

.ball p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    top: -150px;
    left: -50px;
    position: relative;
    width: 100px;
    height: 100px;
}
